################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/3822B1PM2/Zykov/out/build/x64-Debug
